
body {
    background-color: hsl(212, 45%, 89%);
}

.card-component {
    width: 350px;
    height: 560px;
    background-color: hsl(0, 0%, 100%);
    margin: 7.5% auto;
    border-radius: 15px;
}

.card {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    margin-top: 6%;
    border-radius: 10px;
}    

p {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

#titre {
    font-size: 26px;
}